.btn { 
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 20px;
    background-color: #EA1E63;
    color: white;
    border-radius: 2px;
    box-shadow: 2px 2px 4px #0006;
    cursor: pointer;
    transition: all 1s;
}
    .btn:hover {
        background-color: red;
        box-shadow: 2px 2px 5px #000a;
    }