form {
    display: inline-block;
    width: 100%;

}
    form > input,
    form > textarea {
        display: inline-block;
        width: 100%;
        padding: 5px 0px;
        float: left;
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 24px;
        color: #555;
        border: none;
        border-bottom: 1.5px solid grey;
        outline: none;
    }
    form > textarea {
        resize: vertical;
        min-height: 100px;
        max-height: 400px;
    }

@media (min-width: 1100px) {
    form > input {
        display: inline-block;
        width: 45%;
    }
    form > input:nth-of-type(2) {
        margin-left: 10%;
    }

}
    